body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.header-content {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Center align items vertically */
    justify-content: center; /* Center align items horizontally */
}

.header-content img {
    display: inline;
    height: 10vw;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

img {
    align-items: left;
    margin-left: 0.5vw;
    width: 20vw;
}

h3, h6, p {
    margin-left: 0.5vw;
}